# Unity folders
[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Oo]bj/
MemoryCaptures/
Logs/
UserSettings/

# PlasticSCM
.plastic/

# OS-specific
.DS_Store
Thumbs.db

# Visual Studio
.vs/
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.opendb
*.VC.db

# Rider
.idea/
*.iml
*.iws

# Unity Crash dumps
mono_crash.*

# Build artifacts
Build*/           # Mac/Windows/Linux builds
*.apk
*.xcodeproj/
*.xcworkspace/

